*{
    margin:0px;
    padding: 0px;
}

@media screen and (width < 500px){
    .data{
        text-align: center;
        
    }
}

@media screen and (width >= 500px){
    .data{
        text-align: left;
        
    }
}